.loginSignupBtn {
    width: 60vw;
    margin-top: 2vw;
}

.loginSignupFormContainer {
    background-color: #cbdbd0;
    min-height: 50vh;
    margin-bottom: 1vw;
    padding: 2vw;
    box-shadow: 0vw 0vw 0.2vw 0.2vw #9bbaa5a5;
}

.loginSignupFormContainer h1 {
    font-size: 2.3vw;
    margin-bottom: 1vw;
}

.loginSignupFormContainer label {
    font-size: 1.3vw;
}

.loginSignupFormContainer button {
    background-color: #36523f;
}

.bottomRegisterLink p {
    font-size: 1.2vw;
    margin: 0.5vw;
}

.bottomRegisterLink .link {
    cursor: pointer;
    color: rgb(195, 82, 82);
}

.bottomRegisterLink p {
    font-size: 1.2vw;
    margin-top: 2vw;
}

.getOtp {
    display: inline;
    color: rgb(195, 82, 82);
    border-bottom: 0.1vw solid rgb(195, 82, 82);
    cursor: pointer;
    font-size: 1vw;
}

.getOtpText {
    display: none;
}

.getOtpTextAfterClick {
    display: inline;
    color: #336c46;
    font-size: 1vw;
    margin: 0.3vw;
    marker-end: 0.7vw;
}

.otp-warn {
    border: 0.1vw solid red;
    background-color: rgb(222, 159, 159);
}

.otp-warn-text {
    color: red;
    font-size: 1vw;
}

.otpLoading {
    width: 2vw;
    height: 2vw;
}

.otpLoadingText {
    font-size: 1vw;
}

.sideOfLogin_signupPage img {
    width: 40vw;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 1vw;
}

.adminLoginBtn {
    font-size: 1vw;
}

.loadingSpinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.623);
}

.loadingSpinner img {
    height: 20%;
}

@media screen and (max-width:600px) {
    /* .loginSignupFormContainer{
        width: 50vw;
    } */
    .loginSignupBtn {
        width: 90vw;
    }
    .loginSignupButtons {
        font-size: 4vw;
    }
    .loginSignupFormContainer h1 {
        font-size: 4.3vw;
        margin-bottom: 1vw;
    }
    .loginSignupFormContainer label {
        font-size: 2.5vw;
    }
    .bottomRegisterLink p {
        font-size: 2.5vw;
    }
    .getOtp {
        font-size: 2.2vw;
    }
    .getOtpTextAfterClick {
        display: inline;
        color: #336c46;
        font-size: 2.2vw;
        margin: 1vw;
        marker-end: 1.2vw;
    }
    .otp-warn-text {
        font-size: 2vw;
    }
    .otpLoading {
        width: 3.2vw;
        height: 3.2vw;
    }
    .otpLoadingText {
        font-size: 2.5vw;
    }
    .sideOfLogin_signupPage img {
        display: none;
    }
    .adminLoginBtn {
        font-size: 2vw;
    }
}