.optionCard {
    margin: 0.2vw;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons .btn {
    margin: 1vw;
}

.quiz-techstack {
    margin-top: 2vw;
}

.quiz-techstack .card-header {
    font-size: 1.5vw;
    font-weight: 600;
    background: rgb(247,247,247);
    background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(188,250,182,1) 49%, rgba(247,247,247,1) 100%);
}

.quiz-techstack .skillCategory {
    background: none;
    display: flex;
    justify-content: space-evenly;
}

.quiz-techstack .skillCategory .btn {
    width: 16.66%;
    flex: 0 0 auto;
    margin: 0 1px;
    font-size: 1vw;
    border: 0.1vw solid rgb(40, 84, 33);
    background-color: rgb(71, 139, 60);
    padding: 0.5vw;
}

.quiz-techstack .skillCategory .btn:hover {
    background-color: white;
    color: black;
}

.quiz-techstack .skillCategory .clicked {
    background-color: white;
    color: black;
}

.quiz-techstack .skillList img {
    width: 5vw;
    margin: 0.2vw;
}

.quiz-techstack .skillList {
    margin: 0.5vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 1vw;
    padding: 0.2vw;
}


.quiz-techstack .skillList .card {
    display: flex;
    flex-direction:column;
    
    align-items: center;
}

.skillList .skill {
    margin: 0.5vw;
}

.skillList .skill:hover {
    box-shadow: 0vw 0vw 0.5vw 0vw black;
}

.skillList .card-body {
    text-align: center;
    padding: 0;
}

.skillsContainer{
    margin-bottom: 10vh;   
}



.quizLoader {
    display: flex;
    width: 100vw;
    height:76%;
    position: absolute;
    top: 0%;
    left: 0%;

    background-color: rgba(233, 248, 220, 0.555);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizLoader img{
    width: 25vw;
}

.quizLoader p{
    font-size: 2.2vw;
    font-weight: 600;
}






/* this css is for moblie view  */

@media screen and (max-width: 600px) {
    
    .buttons {
        display: flex;
        justify-content: space-between;
    }
    
    .buttons .btn {
        margin: 1vw;
    }
    
    .quiz-techstack {
        margin-top: 2vw;
    }
    
    .quiz-techstack .card-header {
        font-size: 3.5vw;
        font-weight: 600;
        background: rgb(247,247,247);
        background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(188,250,182,1) 49%, rgba(247,247,247,1) 100%);
    }
    
    .quiz-techstack .skillCategory {
        background: none;
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-evenly;
    }
    
    .quiz-techstack .skillCategory .btn {
        /* width: 16.66%; */
        width: 15vh;
        padding: 1vw;
        
        margin: 1vw 1vw;
        font-size: 3vw;
        border: 0.1vw solid rgb(40, 84, 33);
        background-color: rgb(71, 139, 60);
        padding: 0.5vw;
    }
    
    .quiz-techstack .skillCategory .btn:hover {
        background-color: white;
        color: black;
    }
    
    .quiz-techstack .skillCategory .clicked {
        background-color: white;
        color: black;
    }

    
    
    .quiz-techstack .skillList img {
        width: 15vw;
        margin: 0.2vw;
    }
    
    .quiz-techstack .skillList {
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0.5vw;
        font-size: 1vw;
        padding: 0.2vw;
    }
    

    .quiz-techstack .skillList .card{
        width: 30%;
        margin-bottom: 1vh;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .quiz-techstack .skillList .card-title{
        font-size: 3vw;
        font-weight: 600;
    }

    
    .skillsContainer{
        margin-bottom: 5vh;   
    }
    

    .quizLoader {
        height:132%;
        background-color: rgba(233, 248, 220, 0.555);

    }
    
    .quizLoader img{
        width: 25vh;
    }
    
    .quizLoader p{
        font-size: 2.2vh;
        font-weight: 600;
    }

    
}